<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414783311680-oc2dovf6sl4t9iig36fhlthb40s7eei1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414783311680-oc2dovf6sl4t9iig36fhlthb40s7eei1</string>
	<key>API_KEY</key>
	<string>AIzaSyDn3qRlmZagw_wQTV4rF95AhV4mAAobJ0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>414783311680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shiftlist</string>
	<key>PROJECT_ID</key>
	<string>shiftlist-d0c57</string>
	<key>STORAGE_BUCKET</key>
	<string>shiftlist-d0c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414783311680:ios:c7a6db9a297609d7e8b4a5</string>
</dict>
</plist>